{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MEGAMART/homepage</title>
    <script src="https://kit.fontawesome.com/d87b21cf08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  </head>
     
<body>
  <marquee  behavior="alternate"  bgColor="orange"  scrollamount='5'>
    <span class="text-center"> EXtra 20% OFF ON Orders above  &#x20B9;1999 </span>
    <br>
    <span class="text-center">*Auto Exclusive Apply</span>
  </marquee>
 <div class="homee">
    <div class="row">
        <div class="col-md-6">
            <div class="home-card m-2 ">
                <h2 style="font-weight: bold; " class="h2">Comfort & Magic Awaits.<br>
               Everyday.</h2>
                <br>
                <h5 style="font-weight: bold;">NIKE AIR MAX ON</h5>
                <h6 style="font-weight: 400;">MRP: &#x20B9;13995.00</h6>
                <p style="color: secondary;">
                  <span> incl. of taxes</span> 
                  <span> (Also includes all applicable duties) </span> 
                  
                </p>
                <br>
                <p3 style="font-weight: bold;">Size</p3>

                <div class="m-1 buttonContainer">
                    <div class="btn-group " role="group" aria-label="First group">
                        <button type="button" class="btn btn-outline-dark ml-1 d-none d-lg-block">9</button>
                        <button type="button" class="btn btn-outline-dark ml-1">9.5</button>
                        <button type="button" class="btn btn-outline-dark ml-1">10</button>
                        <button type="button" class="btn btn-outline-dark ml-1">10.5</button>
                        <button type="button" class="btn btn-outline-dark ml-1">11</button>
                        <button type="button" class="btn btn-outline-dark  d-none d-lg-block">11.5</button>

                    </div>
                        <div>
                          <button class="btn btn-dark m-1" style="border-radius: 2vw;">Add To Bag <i class="fa-solid fa-bag-shopping"></i></button>
                        </div>
                        </div>
                </div>
            </div>
         
          <div class="col-md-6">
            <div class="shoeCard">
                   <div class="shoeCard1">
                    <div class="imgContainer">  <img src="/images/projectStore/static/images/airMaxLighhtBlue.png"  class="mainShoe" alt="" srcset=""></div> </div>
                     <div class="colorsCard"> 
                      <div class="imgBg img1">  <img src="/images/projectStore/static/images/airMaxSilv.png" height="100" alt="" srcset=""> </div>  
                       <div class="imgBg"> <img src="/images/projectStore/static/images/airMaxLWheat.png" height="100" alt="" srcset=""> </div> 
                       <div class="imgBg"> <img src="/images/projectStore/static/images/airMaxBlack.png" height="100" alt="" srcset=""> </div> 
                       <div class="imgBg"> <img src="/images/projectStore/static/images/a.png" height="100" alt="" srcset=""> </div> 
                       <div class="imgBg"> <img src="/images/projectStore/static/images/airMaxLighhtBlue.png" height="100" alt="" srcset=""> </div> 
                       </div>
                     </div>
                   </div>
                </div>
              </div>
  
            <div class="secondPage mt-4">
              <h3 class="text-center m-1" style="text-decoration: underline; text-decoration-color: aquamarine;">Gear Up For the Fashion Wear</h3>
              <div class="infoCards">
                  <div class="infoCard">
                    <img src="/images/projectStore/static/images/shoe7.jpg" alt="" srcset="" >
                    <div class="infoCart-Info">
                    <h5>WEAR YOUR PRIDE</h5>
                    <p>Trend In 2024</p>
                    <button class="btn btn-dark" >SHOP NOW</button>
                    </div>

                  </div>
                <div class="infoCard">
                    <img src="/images/projectStore/static/images/shoe8.jpg" alt="" srcset="">
                    <div class="infoCart-Info">
                      <h5>DOUBLE POWER</h5>
                      <p>NEW BALANCE RUN MODE</p>
                      <button class="btn btn-dark">SHOP NOW</button>
                    </div>

                  </div>
                    <div class="infoCard">
                      <img src="/images/projectStore/static/images/shoe6.jpg" alt="" srcset="" >
                      <div class="infoCart-Info">
                        <h5>The Perfect Fit</h5>
                        <p>Move On</p>
                        <button class="btn btn-dark" >SHOP NOW</button>
                      </div>

                  </div>
                  </div>
                </div>
            </div>
            </div>

            <div class="thirdPage mt-2" id="linear-gradient">
              <div class="p-2 justify-content-center">
              <h2 class="h2" style="color: #fff;">Turn Of The Heat</h2>
              <h5 style="color: white;">MEN'S WEAR</h5>
              <h5 style="color: white; font-size: 5vh;">COLLECTIONS 2024</h5>
              <p style="color: white;">JUST DO IT</p>
              <button class="btn btn-white" style="background-color: white; color: black;" >SHOP NOW</button>
              </div>
              <div>
                <img src="/images/projectStore/static/images/lukepng.png" height="450" alt="" srcset="">
              </div>
            </div>

           <div class="thirdScroll p-1">
            <h5 class="ml-1">Fresh Drip</h5>
            <span class="mb-1" style="border: 1px solid orchid;  padding: 0.3vw; background-color: orange; font-weight: bold; border-radius: 2vw;">30% Off</span>
           <div class="pageScroll p-1 mt-1">
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/sweaTWomen.jpeg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">PUMA</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Women Full Sleeve Color Block Sweatshirt </span>
                <span> &#x20B9;1799 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;3799 </span><br>
                  <span style="font-size: x-small; color: orangered; font-weight: bold;">Only Few Left</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>

                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <div> 
                <img src="/images/projectStore/static/images/sportsDress/nikeSport" height="300" class="card-img-top" alt="...">

              </div>
               <span> 
                <span style="color: gray;">NIKE</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Dri-FIT Men Solid Sports T-shirt
                </span>
                <span> &#x20B9;2,586 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;3,295 </span>
                  <br>
                  <span style="font-size: x-small; color: orangered; font-weight: bold;">Only Few Left</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>

                </span>
              </div>
            </div>


            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/addias.jpg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">ADIDAS</span>

                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Women Solid Round Neck Polyester Pink T-Shirt

                </span>
                  <span> &#x20B9;1999 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);">&#x20B9; 2999  </span><br>
                  <span style="font-size: x-small; color: orangered; font-weight: bold;">Only Few Left</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
 
                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/rbk2.jpeg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">REEBOK</span>

                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Women Full Sleeve Color Block Sweatshirt </span>
                  <span> &#x20B9;648 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;1099 </span><br>
                  <span style="font-size: x-small; color: green; font-weight: bold;">Hot Deal</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/nB.jpeg" height="300"  class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">NEW BALANCE</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">MT03917 Men Typography Round Neck Poly Cotton Grey T-Shirt </span>
                  <span> &#x20B9;829 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;2999 </span><br>
                  <span style="font-size: x-small; color: orangered; font-weight: bold;">Only Few Left</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/nikeShoe.jpeg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">NIKE</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Pegasus 38 Running Shoes For Men  (White)
                </span>
                  <span> &#x20B9;6994 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;9,995 </span><br>
                  <span style="font-size: x-small; color: green; font-weight: bold;">Hot Deal</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/rT.jpeg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">RED TAPE</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;"> Casual Sneakers Shoes for Men | Soft Cushioned Insole, Slip-Resistance Sneakers For Men  (Black, Green)
                </span>
                  <span> &#x20B9;1799 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;5,899 </span><br>
                  <span style="font-size: x-small; color: orange; font-weight: bold;">TRENDING</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/poloCap.jpeg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">POLO</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Embroidered Snapback Cap  (Pack of 2)
                </span>
                  <span> &#x20B9;371 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;1999 </span><br>
                  <span style="font-size: x-small; color: orangered; font-weight: bold;">Only Few Left</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/reb.jpg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">IZON</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">RCB Men Printed Round Neck Polyester Red T-Shirt
                </span>
                  <span> &#x20B9;499 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;999 </span><br>
                  <span style="font-size: x-small; color: green; font-weight: bold;">Hot Deal</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/crocs.jpeg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">CROCS</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Men Bayaband Clog White Clogs Sandal
                </span>
                  <span> &#x20B9;3019 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;5995 </span><br>
                  <span style="font-size: x-small; color: orangered; font-weight: bold;">Only Few Left</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
                </span>
              </div>
            </div>

            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <img src="/images/projectStore/static/images/sportsDress/vans.jpg" height="300" class="card-img-top" alt="...">
               <span> 
                <span style="color: gray;">VANS</span>
                <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Outfit occassion Look </span>
                  <span> &#x20B9;11099 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;13799 </span><br>
                  <span style="font-size: x-small; color: green; font-weight: bold;">Hot Deal</span><br>
                  <span>Size XS, S, M, L, XL, XXL, 3XL</span> </span><br>
                  <span style="font-size: x-small; color:grey ; font-weight: bold;">Free Delivery</span><br>
                </span>
              </div>
            </div>
           </div>
           </div>
            
            <div class="fourthPage">
            <div class="fourthPageLarge mt-2 ">
              <div class="frthContainer">
                <div class="d-block d-sm-none"> <img src="/images/projectStore/static/images/myModel1.png" height="300" alt="" srcset=""> </div>
                  <div class="d-none d-sm-block"><img src="/images/projectStore/static/images/myModel1.png" height="450" alt="" srcset=""> </div>
                </div>
              <div class="frthContainer2">
                <div class="p-2 justify-content-center">
                  <h2 class="h2"  >RARE FINDS</h2>
                  <h5 >WOMEN'S WEAR</h5>
                  <h5  style="font-size: 5vh;">Exclusively on MegMart Store</h5>
                  <p>Fashion Awaits</p>
                  <button class="btn btn-light d-md-none">SHOP NOW</button>
                  <button class="btn btn-dark d-none d-md-block">SHOP NOW</button>
                  </div>
                  </div>
                </div>
                  </div>
                </div>

                <div class="thirdScroll p-1">
                  <h5 class="ml-1">RECOMMENDED FOR YOU</h5>
                 <div class="pageScroll p-1 mt-1">
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="images\projectStore\static\images\sportsDress\women2.jpg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">RIGO</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;"> Hope and a Future Short Sleeve T-Shirt

                      </span>
                        <span> &#x20B9;2100 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;2999 </span>
                        </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <div> 
                      <img src="/images/projectStore/static/images/sportsDress/virat.jpg" height="300" class="card-img-top" alt="...">
                    </div>
                     <span> 
                      <span style="color: gray;">yClothy</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Boys Printed Polyester T Shirt  (Multicolor, Pack of 1)
                      </span>
                        <span> &#x20B9;399 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;899 </span> 
                        </span>
                    </div>
                  </div>
      
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/shoes1.jpeg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">Shozie</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Stylish Sneakers Shoes for Women And Girls Sneakers For Women  (White, Pink, Black)
                      </span>
                        <span> &#x20B9;399 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;999 </span>
                       </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/kids.jpeg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">Wear</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Lace Running Shoes For Boys  (Blue) </span>
                        <span> &#x20B9;249 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;599 </span><br>
                      </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/pumaKids.jpeg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">PUMA</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Lace Sneakers For Boys & Girls  (Pink)
                      </span>
                        <span> &#x20B9;1139 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;1999 </span><br>
                      </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/women3.jpg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">Wear</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Hope and a Future Short Sleeve T-Shirt
                      </span>
                        <span> &#x20B9;1799 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;3799 </span><br>
                      </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/puma.jpg" height="300"class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">Puma</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Multi Color Puma Men's  </span>
                        <span> &#x20B9;999 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;1399 </span><br>
                      </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/add.jpg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">Adidas</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Adidas Club Tee Black/White Tenis Top</span>
                        <span> &#x20B9;1799 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;3799 </span><br>
                      </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/nike.jpg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">NIKE</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;"> Nike Boys Tee </span>
                        <span> &#x20B9; 1299 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;2199 </span><br>
                      </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/nike4.jpg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">NIKE</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;"> Nike Football Strike Just Do It - White/Total Orange </span>
                        <span> &#x20B9;1495 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;2999 </span><br>
                      </span>
                    </div>
                  </div>
      
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <img src="/images/projectStore/static/images/sportsDress/women4.jpg" height="300" class="card-img-top" alt="...">
                     <span> 
                      <span style="color: gray;">Wear</span>
                      <span class="card-title" style="font-size: medium; text-overflow: ellipsis; white-space:nowrap; overflow: hidden; display: block;">Mimi SVG, Grandma SVG Heart
                      </span>
                        <span> &#x20B9;1299 <span style="text-decoration: line-through; font-size: small; color:rgb(128, 126, 126);"> &#x20B9;2999 </span><br>
                      </span>
                    </div>
                  </div>
                 </div>
                 </div>

  <script text="text/javascript" src="{% static 'javascript/javascript.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
 
</html>